@import "frappe/public/css/fonts/fontawesome/font-awesome.min.css";
@import "frappe/public/css/octicons/octicons.css";
@import "frappe/public/css/fonts/inter/inter.scss";
@import "~frappe-charts/dist/frappe-charts.min";
@import "~plyr/dist/plyr";
@import "./desk/index";

@import "frappe/public/js/lib/leaflet/leaflet.css";
@import "frappe/public/js/lib/leaflet_easy_button/easy-button.css";
@import "frappe/public/js/lib/leaflet_control_locate/L.Control.Locate.css";
@import "frappe/public/js/lib/leaflet_draw/leaflet.draw.css";

.widget.links-widget-box .link-item {
    display: flex;
    text-decoration: none;
    font-size: var(--text-sm);
    font-weight: bold;
    letter-spacing: 0.02em;

    height: 6vh;

    margin-left: -4px;
    margin-bottom: 0px;
    border-radius: var(--border-radius-md);
    cursor: pointer;

    background: #f7f7f7;
}

.widget.links-widget-box .link-item .link-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-text {
    width: 80%;
    font-size: 14px;
    color: #5f5f5f;
}

.links-widget-box {

    box-shadow: 0px 0px 10px 1px #e8e8e8;
}

.custome-svg-card-workspace {
    width: 20%;
    display: flex;
    align-items: center;
    color: black;
    background: #f7f7f7;
    border-radius: 10px;
    justify-content: space-between;

    transition: 0.2s ease-in-out all;
}

.custome-svg-card-workspace svg {
    margin: 0;
    width: 25px;
    height: 25px;
}

.widget-control svg {
    margin: 0;
    min-width: 25px;
    min-height: 25px;
}

.widget-control svg:hover {
    margin: 0;
    width: 25px;
    height: 25px;
}

.widget.shortcut-widget-box {
    cursor: pointer;
    padding: 10px;
    outline: none;
    /* border: 1px solid var(--border-color); */
}

.widget.shortcut-widget-box:hover {
    background: #B3BBE6;

    border: 1px solid transparent;
    // /* border: 1px solid var(--border-color); */
}


.custome-svg-card-workspace:hover {
    border: none;
    background: #B3BBE6;

    .link-text {
        color: black;
        font-weight: bold;
    }
}

.col-md-4 {
    flex: 0 0 30.33333333%;
}

.ellipsis {
    font-size: 16px;
}

.widget-body {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.shortcut-widget-box {
    transition: 0.2s ease-in-out all;
}

.shortcut-widget-box:hover {
    background: #B3BBE6;

    svg {
        width: 24px;
        height: 24px;
    }
}

.links-widget-box {
    transition: 0.2s ease-in-out all;
}

// .links-widget-box:hover {
//     border-radius: 10px;
// }